.InvalidFormEntry {
    -fx-font-family: 'Arial';
    -fx-font-size: 12px;
    -fx-background-color: rgb(255, 33, 26);
    -fx-text-fill: white;
    -fx-max-width: 230;
    -fx-padding: 3;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-width: 0.06em;
    -fx-border-color: black;
}