.HomePageCentralButton {
    -fx-font-size: 20px;
    -fx-font-family: 'Arial';
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-min-width: 280;
    -fx-min-height: 40;
}